extends layout

mixin widget(widgetname,title)
	div.relative
		div.header
			a.settings(href="#" ng-click='openSettings()')
				i.fa.fa-cog
			| #{title}
			a.open_modal(href="#" ng-click='openModal()')
				i.fa.fa-arrows-alt
		div.container(class="dataviz-widget-#{widgetname}")

block content
	div.dv_page
		div.dashboard_title Title
		div#packery
			div.gutter-sizer
			div.grid-sizer
			div.widget(ng-controller="textWidget")
				+widget("text","Text Example")
			div.widget(ng-controller="sunBurst")
				+widget("sunburst","Sunburst Example")
			div.widget
				+widget
			div.widget
				+widget
			div.widget
				+widget
			div.widget
				+widget