extends layout

block content
	div.dv_page
		div.dashboard_title Title
		div#packery
			div.gutter-sizer
			div.grid-sizer
			div.widget(ng-controller="textWidget")
				div(dataviz-widget-text)
			div.widget(ng-controller="sunBurst")
				div(dataviz-widget-sunburst)
			div.widget
				div Ciao
			div.widget
				div Ciao
			div.widget
				div Ciao
			div.widget
				div Ciao
	div.dv_modal