@import "compass/css3";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  margin: 0px;
  position: relative;

  li{
  	list-style: none;
  }

  ul{
  	margin: 0px;
	padding: 0px;
  }

	/*MENU*/
	.dv_menu{
		position: fixed;
		min-height: 100%;
		background-color: #5F6474;
		width: 232px;
		top: 0px;
		right: 0px;
		overflow: hidden;
		overflow-y: scroll;

		li{
			height: 87px;
			font-size: 20px;
			line-height: 67px;
			padding: 10px;
			box-sizing: border-box;
			color: #BEC1CC;
		}

		li.dv_info{
			text-align: center;
		}

		li.dv_title{
			background-color: #FF6055;
			color: #fff;
			text-align: center;
			font-size: 40px;
			font-family: 'Lobster', cursive;
		}

		li.dv_option{
			background-color: #686D7C;
			border-bottom: solid 1px #5F6475;
			cursor: pointer;

			&.active{
				background-color: #464A57;
			}
			&:hover{
				background-color: #464A57;
			}
		}
	}

	/*PAGE*/
	.dv_page{
		margin-right: 232px;
		min-height: 750px;

		.dashboard_title{
			margin-left: 10px;
			border-bottom: solid 1px #FF6055;
			color: #FF6055;
			text-align: right;
			padding-right: 10px;
			font-size: 20px;
			line-height: 27px;
			padding-top: 60px;
		}
	}

	/*GRIDSTER*/
	#packery{
		margin: 10px;

		.gutter-sizer {
		  width: 2%;
		}

		.grid-sizer {
		  width: 49%;
		}

		.widget{
			width: 49%;
			border: solid 1px #6DCFC1;
			padding: 10px;
			background-color: #fff;
			@include box-sizing(border-box);
		}
	}
}