extends layout

block content
    div.dv_page
        div.dashboard_title Title
        div#packery
            div.widget
                div(dataviz-widget="Text" ng-controller="textWidget" ng-include="template.url")
            div.widget
            div.widget
            div.widget