doctype html
html
  head
    title Data Visualisation
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='stylesheets/main.min.css')
    script(src='scripts/bower.min.js')
    script(src='scripts/scripts.min.js')
  body(ng-app="dataviz")
    block content
    div.dv_menu
        ul
            li.dv_title dataviz
            li.dv_info info
            li.dv_option.active Page 1
            li.dv_option Page 1
            li.dv_option Page 1